{% extends "base.html" %}


{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div>

<div class="content">

    <h1>Task Master</h1>

    <form action="/" method="POST">
        <p>
        <label for="date">Date:</label>
        <input type="date" name="date" value="{{ today.date() }}">
        </p>
        <p>
        <label for="username">Username:</label>
        <input type="text" name="username"  value="mgreco">
        </p>
        <p>
        <label for="issue">Issue id:</label>
        <input type="number" name="issue" value=1701>
        </p>
        <p>
        <label for="spent">Spent:</label>
        <input type="number" name="spent" value=8>
        </p>
        <p>
        <label for="burnt">Burnt:</label>
        <input type="number" name="burnt" value=8>
        </p>
        <p>
        <label for="description">Description:</label>
        <input type="text" name="description" value="Description here...">
        </p>
        <p>
        <input type="submit" value="Add Task">
        </p>
    </form>

    {% if tasks | length < 1 %}
        <h2>There are not tasks. Create one!</h2>

    {% else %}
        <table>
            <tr>
                <th>id</th>
                <th>Date</th>
                <th>Issue</th>
                <th>User Name</th>
                <th>Spent</th>
                <th>Burnt</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>

            {% for task in tasks %}

            <tr>
                <td> {{ task.id }} </td>
                <td> {{ task.date.date() }} </td>
                <td> {{ task.issue }} </td>
                <td> {{ task.username }} </td>
                <td> {{ task.spent }} </td>
                <td> {{ task.burnt }} </td>
                <td> {{ task.description }} </td>

                <td><a href="/delete/{{ task.id }}">Delete</a>&nbsp;<a href="/update/{{ task.id }}">Update</a>
                </td>
            </tr>

        {% endfor %}

    </table>
    {% endif %}
</div>

{% endblock %}
